/* Navbar container */
nav {
    position: fixed;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;

    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 24px);
    max-width: 1200px;

    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

/* Nav list */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;

    margin: 0;
    padding: 14px 24px;
}

/* Nav items */
nav>li {
    display: flex;
}

/* Nav links */
nav a {
    display: block;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    transition: all 0.25s ease;
}

/* Hover effect */
nav a:hover {
    background-color: #f5f5f5;
    background-color: #2563eb;
}

/* Active link */
nav a.active {
    background-color: #2563eb;
    /* blue */
    color: #ffffff;
    font-weight: 600;
}

.dropdown {
    position: relative;
}

.dropdownTitle {
    cursor: pointer;
    font-weight: 500;
}

.dropdownMenu {
    position: absolute;
    top: 36px;
    left: 0;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    min-width: 160px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    display: none;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.dropdownMenu li {
    margin-bottom: 8px;
    a:not(.active):not(:hover) {
        color: #00005a;
    }
}

.dropdownMenu li:last-child {
    margin-bottom: 0;
}

/* Push page content below fixed navbar */
body {
    padding-top: 90px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        gap: 12px;
        padding: 12px 16px;
    }

    nav a {
        padding: 6px 10px;
        font-size: 14px;
    }
}


@media (prefers-color-scheme: dark) {
    nav {
        background-color: #1f2937;
    }

    nav a {
        color: #e5e7eb;
    }
}

.online {
    color: green;
    font-weight: 600;
}
.offline {
    color: red;
    font-weight: 600;
}